body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.main {
  background-color: #b3b3b3;
  flex-grow: 1;
}
.page-footer {
  align-items: end;
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  background-color: #dbbff5;
  font-family: "Segoe UI", Helvetica, sans-serif;
  padding: 1rem;
}

.page-footer p {
  margin: 0;
}

.page-footer ul {
  margin: 0;
  padding: 0;
}

.page-footer li {
  list-style: none;
}

.page-footer a {
  color: #8700ff;
  text-decoration: none;
}
